<h1 class="animated fadeIn fast"
style="margin-top: 5rem; text-align: center;">HEROES WORLD</h1>

<p class="animated fadeIn" style="margin: 1rem;">
    Todos los personajes aquí mencionados son propiedad de Marvel Comics, DC Comics. 
    No soy propietaria ni poseo algún tipo de autoria. 
    Todas las imágenes aqui mostradas son con fines referenciales / educativos. 
    No soy autora de ninguna imagen que refiera a los personajes que pertenecen a otra compañía, 
    tampoco motivo la piratería. 
    Toda la información que está en este sitio web (nombre de los personajes, mini-bio y otros datos) 
    ha sido recopilada mediante una exhaustiva investigación de fuentes oficiales, asi como de sitios de fans.
</p>